/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}


/* mix */
clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.contenitore {
  width: 80%;
  margin: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #33475b;
}

.btn {
  border-radius: 7px;
  padding: 12px 12px;
}

.arancio {
  background-color: #fe775a;
  color: #fff;
}

.neutro {
  border: 1px solid #fe775a;
  color: #fe775a;
}

/* /mix */


/* intestazione */

header {
  font-weight: 500;
}

header li {
  display: inline-block;
}

.bg-header-top {
  background-color: #f4f9fd;
  padding: 30px 0;
  border-bottom: 2px solid #939da0;
}

/* nav-1 */
.header-top {
  position: relative;
}

.nav-1 li, .nav-2 li {
  font-size: 14px;
}

.header-top .nav-1 li i:first-child {
  margin-right: 10px;
}

.header-top .nav-1 li i:last-child {
  margin-left: 10px;
}

.header-top .nav-1 li:first-child {
  padding-right: 20px;
  margin-right: 10px;
  border-right: 2px solid #939da0;
}
/* /nav-1 */

/* nav-2 */
.nav-2, .nav-1 {
  display: inline-block;
}

.nav-2 {
  position: absolute;
  top: top: 0;
  right: 0;
}

.nav-2 li:first-child i {
  color: #0ca8c0;
}

.nav-2 li a {
  margin-left: 20px;
}
/* /nav-2 */

/* header bottom */
.header-bottom {
  padding: 30px 0;
  position: relative;
}

.header-bottom .logo, .header-bottom .main-nav {
  display: inline-block;
}

.header-bottom .main-nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.main-nav li:not(:last-child) {
  margin-right: 20px;
}

.main-nav li i {
  margin-left: 20px;
}
/* /header bottom */



/* /intestazione */
