/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
  font-weight: 500;
}


/* mix */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.contenitore {
  width: 80%;
  margin: auto;
}

.contenitore-piccolo {
  width: 55%;
  margin: auto;
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #33475b;
}

.btn-nav{
  border-radius: 7px;
  padding: 12px 12px;
}

.arancio {
  background-color: #fe775a;
  color: #fff;
}

.neutro {
  border: 1px solid #fe775a;
  color: #fe775a;
}

.btn-big {
  border-radius: 7px;
  padding: 25px 45px;
  letter-spacing: -1px;
}

.border-main {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 10%);
}

hr {
  border: 2px solid #939da0;
}
/* /mix */

/* typo */
h1 {
  font-size: 50px;
  margin-bottom: 30px;
  letter-spacing: -0.5px;
}

h2 {
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 25px;
}

h4 {
  text-transform: uppercase;
  font-size: 20px;
}

p {
  line-height: 30px;
  letter-spacing: -0.5px;
}
/* /typo */



/* intestazione */

header {
  font-weight: 500;
}

header li {
  display: inline-block;
}

.bg-header-top {
  background-color: #f4f9fd;
  padding: 40px 0;
  border-bottom: 2px solid #939da0;
}

/* nav-1 */
.header-top {
  position: relative;
}

.nav-1 li, .nav-2 li {
  font-size: 14px;
}

.header-top .nav-1 li i:first-child {
  margin-right: 10px;
}

.header-top .nav-1 li i:last-child {
  margin-left: 10px;
}

.header-top .nav-1 li:first-child {
  padding-right: 20px;
  margin-right: 10px;
  border-right: 2px solid #939da0;
}
/* /nav-1 */

/* nav-2 */
.nav-2, .nav-1 {
  display: inline-block;
}

.nav-2 {
  position: absolute;
  top: top: 0;
  right: 0;
}

.nav-2 li:first-child i {
  color: #0ca8c0;
}

.nav-2 li a {
  margin-left: 20px;
}
/* /nav-2 */

/* header bottom */
.header-bottom {
  padding: 25px 0;
  position: relative;
}

.header-bottom .logo, .header-bottom .main-nav {
  display: inline-block;
}

.header-bottom .main-nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.main-nav li:not(:last-child) {
  margin-right: 20px;
}

.main-nav li i {
  margin-left: 20px;
}
/* /header bottom */

/* hero */
.hero {
  background-color: #fff4ef;
  background-image: url("../img/jumbotron.png");
  height: 700px;
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  position: relative;
}

.hero-testo {
  width: 45%;
  padding-top: 55px;
}

.hero-testo .btn-big.arancio {
  display: inline-block;
  margin: 30px 0;
}

/* box green */
.box-green::after {
  content: "";
  background-color: #afebe4;
  height: 12%;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* /box green */
/* /hero */
/* /intestazione */

/* main */
/* servizi */
.servizi {
  background-color: #f4f9fd;
  padding-bottom: 60px;
}

/* main-top */
.img-main-top {
  width: 300px;
  margin: auto;
  padding-top: 70px;
}

.img-main-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenitore-piccolo p {
  margin-top: 30px;
}
/* main-top */

/* row-1-servizi */
.row-1-servizi.border-main {
  margin-top: 50px;
  padding: 80px 175px;
}

/* col-sin-row-1 */
.col-sin-row-1 {
  width: 25%;
  float: left;
}

.blocco-contenitore {
  text-align: center;
  float: left;
}

.col-sin-img {
  width: 160px;
  margin: auto;
}

.col-sin-img img {
  width: 100%;
  object-fit: contain;
}

.col-sin-row-1 .btn-big.arancio {
  display: inline-block;
  margin-top: 20px;
}
/* /col-sin-row-1 */

/* col-dest-row-1 */
.col-dest-row-1 {
  width: 75%;
  float: left;
  padding-right:
}

.col-dest-row-1 h3 {
  margin-bottom: 40px;
}

.col-dest-row-1 p {
  margin-bottom: 25px;
  width: 90%;
}

.col-dest-row-1 h4 {
  display: inline-block;
  width: 30%;
  line-height: 20px;
  line-height: 20px;
  vertical-align: middle;
}

.col-dest-row-1 .horizontal-ruler {
  display: inline-block;
  width: 68%;
  text-align: right;
  line-height: 20px;
}

.col-dest-row-1 hr {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.col-dest-row-1 li {
  display: inline-block;
  margin-top: 30px;
}

.col-dest-row-1 li i {
  color: #fe775a;
}

.col-dest-row-1 li, .col-dest-row-1 li i {
  margin-right: 12px;
}
/* /col-dest-row-1 */
/* /row-1-servizi */

/* row-2-servizi */
.row-2-servizi {
  margin-top: 50px;
}

.col-row-2.border-main {
  width: calc( ( 100% - 160px ) / 3 );
  float: left;
  text-align: center;
  padding: 20px 80px;
}

.col-row-2.border-main:not(:last-child) {
  margin-right: 80px;
}

.img-col-row-2 {
  width: 120px;
  height: 120px;
  margin: auto;
}

.img-col-row-2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
}

.col-row-2.border-main h3 {
  margin-top: 30px;
}

.col-row-2.border-main p {
  margin: 50px 0 70px 0;
}

.col-row-2.border-main h4 {
  margin: 40px 0;
}

.col-row-2.border-main ul {
  text-align: left;
}

.col-row-2.border-main li i {
  color: #fe775a;
  margin-right: 20px;
}

.col-row-2.border-main .btn-big.arancio {
  display: inline-block;
  margin-top: 70px;
}

.img-col-row-2.middle-col {
  width: 140px;
}
/* /row-2-servizi */
/* /servizi */

/* gradiente */
/* gradiente-testo */
.gradiente {
  background-image: linear-gradient(to top right, #00a4bc, #00bca5);
  /* height: 800px; */
  color: #fff;
  text-align: center;
  padding: 50px 0 80px 0;
}

.gradiente h2 {
  text-transform: none;
  font-size: 36px;
  padding: 0 100px 40px 100px;
}
/* /gradiente-testo */

/* row-1-gradiente */
.row-gradiente {
  margin-top: 50px;
  border-bottom: 1px solid #fff;
}

.box-gradiente {
  height: 200px;
  text-align: center;
  width: calc( 100% / 4);
  float: left;
  border-right: 1px solid #fff;
  padding: 35px 0;
}

.box-gradiente .box-img {
  height: 35px;
}

.box-gradiente .box-img img {
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.box-gradiente .box-numero {
  font-size: 39px;
  font-weight: 700;
  margin: 25px 0 20px 0;
  vertical-align: middle;
  /* background-color: pink; */
}

.box-numero::after {
  content: "+";
  font-size: 20px;
  vertical-align: 5px;
  margin-left: 5px;
  font-weight: 300;
}

.box-gradiente:last-child {
  border-right: none;
}

.gradiente .row-gradiente:last-of-type {
  border-bottom: none;
  margin-top: 0;
}

#img-growthub {
  height: 22px;
}
/* /row-1-gradiente */
/* /gradiente */

/* sezione growing */
.growing-top {
  width: 65%;
  margin-top: 50px;
  /* background-color: pink; */
}

/* info-growing */
.growing-top .info-growing {
  width: 48%;
  display: inline-block;
}

.info-growing > h2 {
  font-size: 40px;
  margin-bottom: 35px;
}

.info-growing > p {
  width: 39%;
}
/* /info-growing */

/* brands */
.growing-top .brands {
  display: inline-block;
  width: 50%;
  height: 150px;
}

.brands .logo {
  width: calc(100% / 4);
  float: left;
  margin: 10px 0;
  vertical-align: middle;
  height: 50px;
}

.brands .logo img {
  width: 80%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  vertical-align: middle;
}

#classpass-logo {
  width: 60%;
}
/* /brands */


/* /sezione growing */

/* /main */
